# Build Artefact Directories
source/*/bin
source/*/obj

# Reqnroll Code-Behind Files
source/*/Features/*.feature.cs

# Reqnroll Generator Plugin DLLs
source/*/NuGet/build/netstandard2.0/*.dll

# NuGet Package Output Directory
nupkgs

# Visual Studio Cache
.vs
